@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300&family=Roboto:wght@500&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300;400&family=Unbounded:wght@600&display=swap');


#MembershipComponent1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(68,121,255);
    height:400px;
    font-family: 'Fira Sans', sans-serif;
}

.component-content-membership>h2{
    font-size: 28px;
    color:#ffffff;
}

.component-content-membership>p{
    font-size: 18px;
    font-weight: 600;
    color:#ffffff;
}


.content-of-component2>h2{
    font-size: 28px;
    color:#ffffff;
}

.content-of-component2>p{
    font-size: 18px;
    font-weight: 600;
    color:#ffffff;
}
