@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Fira+Sans:wght@200&family=Poppins:ital,wght@0,200;0,300;0,700;1,300&family=Roboto:wght@500&family=Source+Code+Pro:wght@300&family=Source+Sans+Pro:wght@300;400&family=Unbounded:wght@600&display=swap');


#MembershipComponent2{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    background-color: #bcdfff;
}

.content-of-class>h2{
    font-size: 60px;
}

.content-of-class>a>button{
  
    font-size: 28px;
    padding:4px 32px 10px;
    border-radius: 12px;
    margin-left: 15rem;
    background-color: #000000;
    color:white;
    cursor:pointer;
    
}


.image-of-discover{
    background-color: #bcdfff; 
}